{% extends 'store/main.html' %}
{% load static %}
{% load widget_tweaks %}
{% block content %}

<section class="login_part section_padding">
	<div class="container">
		<div class="row align-items-center">
      {% for a in address %}
            <!--<form method="post" action="/address/change/{{a.id}}">
              {% csrf_token %}-->
              <div id="address{{a.id}}">
                <label>Name   : {{a.first_name }} {{a.last_name }}</label><br>
                <label>Address: {{a.address_1 }}</label><br>
                <label>City   : {{a.city}}</label><br>
                <label>State  : {{a.state}}</label><br>
                <label>zipcode: {{a.zipcode}}</label><br>
                <label>Default: {{a.defaul}}</label><br>
                <button  class="btn btn-danger  delete" address="{{a.id}}">Delete</button>
                <a  class="btn btn-primary" href="/address/change/{{a.id}}">Edit</a><br>
                <hr>
              </div>
           <!-- </form>-->
  {% endfor %}

  

  

    </div>
    <button  class="btn btn-success" onclick="function1()" id="to" style="display:block;">Add New Address</button><br><br>
    <div style="display:none;" id="sh">
      <form method="post">
        {% csrf_token %}
        {% for field in form %}
        <div class="col-md-12 form-group p_star">
                {{field.label_tag}}
								{{ field|add_class:'form-control' }}
								{{field.help_text}}
								{%for error in field.errors %}
									<p style="color:red;">{{error}}</p>
								{%endfor%}
        </div>
        {% endfor %}
        <button type="submit" class="btn btn-success">Add</button>
      </form>
    
    </div>
    
  </div>
  
</section>

<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script>
    function function1 (){
        //document.getElementById("to").style.display="none";
        document.getElementById("sh").style.display="block";

    }


    $(".delete").bind('click', function () {
            id = $(this).attr("address");
            //alert(id);
            $.ajax({
                type:'POST',
                url:'/delete_address/',
                data:{
                    address_id:id,
                    csrfmiddlewaretoken:'{{ csrf_token }}'
                },
                success:function(){
                    alert('success');
                    div_id="address"+id
                    document.getElementById(div_id).style.display="none";

                },
                error:function(){
                    alert('error');
                }
            });
        });
</script>

  
{% endblock %}