{% extends 'store/main.html' %}

{% block content %}
<section class="login_part section_padding">
	<div class="container">
		<div class="row align-items-center">
    
    <form method="post" action="/address/change/{{address.id}}/done">
        {% csrf_token %}
        <div class="col-md-12 form-group p_star">
          <label>First Name :</label> <input type="text" class="form-control" value="{{address.first_name}}" name="first_name"><br>
        </div>
        <div class="col-md-12 form-group p_star">
          <label>Last Name :</label> <input type="text" class="form-control" value="{{address.last_name}}" name="last_name"><br>
        </div>
        <div class="col-md-12 form-group p_star">
          <label>Company Name :</label> <input type="text" class="form-control" value="{{address.company_name}}" name="company_name"><br>
        </div>
        <div class="col-md-12 form-group p_star">
          <label>Phone :</label> <input type="text" class="form-control" value="{{address.phone}}" name="phone"><br>
        </div>
        <div class="col-md-12 form-group p_star">
          <label>Email :</label> <input type="email" class="form-control" value="{{address.email}}" name="email"><br>
        </div>
        <div class="col-md-12 form-group p_star">
          <label>Address 1 :</label> <input type="text" class="form-control" value="{{address.address_1}}" name="address1"><br>
        </div>
        <div class="col-md-12 form-group p_star">
          <label>Address 2 :</label> <input type="text" class="form-control" value="{{address.address_2}}" name="address2"><br>
        </div>
        <div class="col-md-12 form-group p_star">
        <label>City :</label> <input type="text"  class="form-control" value="{{address.city}}" name="city"> <br>
        </div>
        <div class="col-md-12 form-group p_star">
          <label>District :</label> <input type="text"  class="form-control" value="{{address.district}}" name="district"> <br>
        </div>
        <div class="col-md-12 form-group p_star">
        <label>State :</label> <input type="text"  class="form-control" value="{{address.state}}" name="state"><br>
        </div>
        <div class="col-md-12 form-group p_star">
        <label>Zipcode :</label> <input type="text"  class="form-control" value="{{address.zipcode}}" name="zipcode"><br>
       </div>
        <div class="col-md-12 form-group p_star">
        {% if address.defaul == True %}
          <label>Default :<input type="checkbox" checked  name="check"></label>
        {% else %}
          <label>Default :<input type="checkbox"  name="check"></label>
        {% endif %}
      </div>
      <hr>
      <button type="submit" class="btn btn-success">Save Changes</button>
    

    </form>
    </div>
    </div>
    </section>

{% endblock %}