{% extends 'store/main.html' %}
{% load static %}
{% block content %}

    <!-- breadcrumb start
  <section class="breadcrumb breadcrumb_bg">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="breadcrumb_iner">
                    <div class="breadcrumb_iner_item">
                        <p>Home/Shop/Single product/Cart list</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
 breadcrumb start-->

<!--================Cart Area =================-->
<section class="cart_area section_padding">
  <div class="container">
    <div class="cart_inner">
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Product</th>
              <th scope="col">Price</th>
              <th scope="col">Quantity</th>
              <th scope="col">Total</th>
            </tr>
          </thead>
          <tbody>
            {% for i in items %}
            <tr class="cart-row" id="di{{ i.product.id }}">
              <td>
                <div class="media">
                  <div class="d-flex">
                    <img src="{{ i.product.image1URL }}" alt="" />
                  </div>
                  <div class="media-body">
                    <p>{{ i.product.name }}</p>
                  </div>
                </div>
              </td>
              <td>
                <h5>RS {{ i.product.price }}</h5>
              </td>
              <td>
                <div class="product_count">
                  <!-- <input type="text" value="1" min="0" max="10" title="Quantity:"
                    class="input-text qty input-number" />
                  <button
                    class="increase input-number-increment items-count" type="button">
                    <i class="ti-angle-up"></i>
                  </button>
                  <button
                    class="reduced input-number-decrement items-count" type="button">
                    <i class="ti-angle-down"></i>
                  </button> -->
                  <span data-product="{{ i.product.id }}" data-action="add" class="chg-quantity update-cart"> <i class="ti-plus"></i></span>
                  <p class="quantity" id="numbe{{ i.product.id }}">{{ i.quantity }}</p>
                  <span data-product="{{ i.product.id }}" data-action="remove" class="chg-quantity update-cart"> <i class="ti-minus"></i></span>
                </div>
              </td>
              <td>
                <h5 id="total{{ i.product.id }}">RS {{ i.get_total }}</h5>
              </td>
            </tr>
            {% endfor %}
            <!--
            <tr class="bottom_button">
              <td>
                <a class="btn_1" href="#">Update Cart</a>
              </td>
              <td></td>
              <td></td>
              <td>
                <div class="cupon_text float-right">
                  <a class="btn_1" href="#">Close Coupon</a>
                </div>
              </td>
            </tr>
          -->
            <tr>
              <td></td>
              <td></td>
              <td>
                <h5>Subtotal</h5>
              </td>
              <td>
                <h5 id="total-display"> RS {{ order.get_cart_total }}</h5>
              </td>
            </tr>
            <!--
            <tr class="shipping_area">
              <td></td>
              <td></td>
              <td>
                <h5>Shipping</h5>
              </td>
              <td>
                <div class="shipping_box">
                  <ul class="list">
                    <li>
                      Flat Rate: $5.00
                      <input type="radio" aria-label="Radio button for following text input">
                    </li>
                    <li>
                      Free Shipping
                      <input type="radio" aria-label="Radio button for following text input">
                    </li>
                    <li>
                      Flat Rate: $10.00
                      <input type="radio" aria-label="Radio button for following text input">
                    </li>
                    <li class="active">
                      Local Delivery: $2.00
                      <input type="radio" aria-label="Radio button for following text input">
                    </li>
                  </ul>
                  <h6>
                    Calculate Shipping
                    <i class="fa fa-caret-down" aria-hidden="true"></i>
                  </h6>
                  <select class="shipping_select">
                    <option value="1">Bangladesh</option>
                    <option value="2">India</option>
                    <option value="4">Pakistan</option>
                  </select>
                  <select class="shipping_select section_bg">
                    <option value="1">Select a State</option>
                    <option value="2">Select a State</option>
                    <option value="4">Select a State</option>
                  </select>
                  <input class="post_code" type="text" placeholder="Postcode/Zipcode" />
                  <a class="btn_1" href="#">Update Details</a>
                </div>
              </td>
            </tr>
            -->
          </tbody>
        </table>
        <div class="checkout_btn_inner float-right">
          <a class="btn_1" href="{% url 'store' %}">Continue Shopping</a>
          {% if not cartItems == 0 %}
          <a class="btn_1 checkout_btn_1" id="check_out" onclick="func()">Proceed to checkout</a>
          {% endif %}
        </div>
      </div>
    </div>
</section>
<!--================End Cart Area =================-->


<script type="text/javascript">
	console.log("The URL of this page is: " + window.location.href);
	user='{{request.user}}';
	//alert(user);

	function func(){
		if(user == 'AnonymousUser'){
		window.location.href="{% url 'redirect_login' %}"

		}
		else{
			window.location.href="{% url 'checkout' %}"
		}
	}


</script>



{% endblock content %}