{% extends 'store/main.html' %}
{% load static %}
{% block content %}
      <!--================Home Banner Area =================-->
  <!-- breadcrumb start
  <section class="breadcrumb breadcrumb_bg">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-12">
          <div class="breadcrumb_iner">
            <div class="breadcrumb_iner_item">
              <p>Home / checkout</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
   breadcrumb start-->

  <!--================Checkout Area =================-->
  <section class="checkout_area section_padding">
    <div class="container">
		<!--
      <div class="returning_customer">
        <div class="check_title">
          <h2>
            Returning Customer?
            <a href="#">Click here to login</a>
          </h2>
        </div>
        <p>
          If you have shopped with us before, please enter your details in the
          boxes below. If you are a new customer, please proceed to the
          Billing & Shipping section.
        </p>
        <form class="row contact_form" action="#" method="post" novalidate="novalidate">
          <div class="col-md-6 form-group p_star">
            <input type="text" class="form-control" id="name" name="name" value=" " />
            <span class="placeholder" data-placeholder="Username or Email"></span>
          </div>
          <div class="col-md-6 form-group p_star">
            <input type="password" class="form-control" id="password" name="password" value="" />
            <span class="placeholder" data-placeholder="Password"></span>
          </div>
          <div class="col-md-12 form-group">
            <button type="submit" value="submit" class="btn_3">
              log in
            </button>
            <div class="creat_account">
              <input type="checkbox" id="f-option" name="selector" />
              <label for="f-option">Remember me</label>
            </div>
            <a class="lost_pass" href="#">Lost your password?</a>
          </div>
        </form>
      </div>
      <div class="cupon_area">
        <div class="check_title">
          <h2>
            Have a coupon?
            <a href="#">Click here to enter your code</a>
          </h2>
        </div>
        <input type="text" placeholder="Enter coupon code" />
        <a class="tp_btn" href="#">Apply Coupon</a>
	  </div>
	  -->
      <div class="billing_details">
        <div class="row">
          <div class="col-lg-8" id="shipping-info">
            <h3>Shipping Details</h3>
            {% if address %}
              {% for i in address %}
              {% if i.defaul %}
  
                <form class="row contact_form" action="#" method="post" novalidate="novalidate" id="form">
                  <div class="col-md-6 form-group">
                    <input type="text" class="form-control" id="first_name" name="first_name" value="{{i.first_name}}" required />
                    <span class="placeholder" ></span>
                  </div>
                  <div class="col-md-6 form-group">
                    <input type="text" class="form-control" id="last_name" name="last_name" value="{{i.last_name}}" required />
                    <span class="placeholder" ></span>
                  </div>
                  <div class="col-md-12 form-group">
                    <input type="text" class="form-control" id="company_name" name="company_name" value="{{i.company_name}}" />
                  </div>
                  <div class="col-md-6 form-group">
                    <input type="text" class="form-control" id="number" name="number" value="{{i.phone }}" required />
                    <span class="placeholder" ></span>
                  </div>
                  <div class="col-md-6 form-group">
                    <input type="email" class="form-control" id="email" name="email" value="{{i.email}}" required />
                    <span class="placeholder" ></span>
                  </div>
                  <div class="col-md-12 form-group">
                    <input type="text" class="form-control" id="state" name="state" value="{{i.state}}"  required />
                    <span class="placeholder" ></span>
                  </div>
                  <div class="col-md-12 form-group">
                    <input type="text" class="form-control" id="add1" name="add1" value="{{i.address_1}}" required />
                    <span class="placeholder" ></span>
                  </div>
                  <div class="col-md-12 form-group">
                    <input type="text" class="form-control" id="add2" name="add2" value="{{i.address_2}}" required />
                    <span class="placeholder"></span>
                  </div>
                  <div class="col-md-12 form-group">
                    <input type="text" class="form-control" id="city" name="city" value="{{i.city}}" required />
                    <span class="placeholder"></span>
                  </div>
                  <div class="col-md-12 form-group">
                    <input type="text" class="form-control" id="district" name="district" value="{{i.district}}" required />
                    <span class="placeholder"></span>
                  </div>
                  <div class="col-md-12 form-group">
                    <input type="text" class="form-control" id="zip" name="zip" value="{{i.zipcode}}" required />
                    <span class="placeholder"></span>
                  </div>
                {% endif %}
                {% endfor %}
          
              {% else %}
                  <form class="row contact_form" action="#" method="post" novalidate="novalidate">
                    <div class="col-md-6 form-group p_star">
                      <input type="text" class="form-control" id="first_name" name="first_name" required />
                      <span class="placeholder" data-placeholder="First name"></span>
                    </div>
                    <div class="col-md-6 form-group p_star">
                      <input type="text" class="form-control" id="last_name" name="last_name" required />
                      <span class="placeholder" data-placeholder="Last name"></span>
                    </div>
                    <div class="col-md-12 form-group">
                      <input type="text" class="form-control" id="company_name" name="company_name" placeholder="Company name" />
                    </div>
                    <div class="col-md-6 form-group p_star">
                      <input type="text" class="form-control" id="number" name="number" required />
                      <span class="placeholder" data-placeholder="Phone number"></span>
                    </div>
                    <div class="col-md-6 form-group p_star">
                      <input type="email" class="form-control" id="email" name="email" required />
                      <span class="placeholder" data-placeholder="Email Address"></span>
                    </div>
                    <div class="col-md-12 form-group p_star">
                      <input type="text" class="form-control" id="state" name="state" required />
                      <span class="placeholder" data-placeholder="State"></span>
                    </div>
                    <div class="col-md-12 form-group p_star">
                      <input type="text" class="form-control" id="add1" name="add1" required />
                      <span class="placeholder" data-placeholder="Address line 01"></span>
                    </div>
                    <div class="col-md-12 form-group p_star">
                      <input type="text" class="form-control" id="add2" name="add2" required />
                      <span class="placeholder" data-placeholder="Address line 02"></span>
                    </div>
                    <div class="col-md-12 form-group p_star">
                      <input type="text" class="form-control" id="city" name="city" required />
                      <span class="placeholder" data-placeholder="Town/City"></span>
                    </div>
                    <div class="col-md-12 form-group p_star">
                      <input type="text" class="form-control" id="district" name="district" required />
                      <span class="placeholder" data-placeholder="District"></span>
                    </div>
                    <div class="col-md-12 form-group p_star">
                      <input type="text" class="form-control" id="zip" name="zip"  required />
                      <span class="placeholder" data-placeholder="Pin/Zip code"></span>
                    </div>
              {% endif %}

              {% for i in address %}
                {% if not i.defaul %}
                <div class="col-md-12 form-group">
                  <div class="creat_account addresscollection">
                    <input type="radio" id="{{i.id}}" name="radiobutton" value="{{i.first_name}},{{i.last_name}},{{i.company_name}},
                    {{i.phone}},{{i.email}},{{i.state}},{{i.address_1}},{{i.address_2}},{{i.city}},{{i.district}},{{i.zipcode}}" />
                    <label for="{{i.id}}">{{i.first_name}} {{i.last_name}} / {{i.address_1}} {{i.zipcode}}</label>
                  </div>
                </div>
                {% else %}
                <div class="col-md-12 form-group">
                  <div class="creat_account addresscollection">
                    <input type="radio" id="{{i.id}}" name="radiobutton" value="{{i.first_name}},{{i.last_name}},{{i.company_name}},
                    {{i.phone}},{{i.email}},{{i.state}},{{i.address_1}},{{i.address_2}},{{i.city}},{{i.district}},{{i.zipcode}}" checked/>
                    <label for="{{i.id}}">{{i.first_name}} {{i.last_name}} / {{i.address_1}} {{i.zipcode}}</label>
                  </div>
                </div>
                {% endif %}

              {% endfor %}
              
              <div class="col-md-12 form-group">
                <div class="creat_account">
                  <h3>Billing Details</h3>
                  <input type="radio" id="f-option3" name="selector" checked/>
                  <label for="f-option3">Billing address same as Shipping</label>
                </div>
                <!--
                <textarea class="form-control" name="message" id="message" rows="1"
                  placeholder="Order Notes"></textarea>-->
              </div>
              <input id="form-button" class="btn_3 btn-success btn-block" type="submit" value="Continue">
            </form>
          </div>
          <div class="col-lg-4">
            <div class="order_box">
              <h2>Your Order</h2>
              <ul class="list">
                <li>
                  <a href="#">Product
                    <span>Total</span>
                  </a>
				</li>
				{% for i in items %}
                <li>
                  <a href="#">{{ i.product.name }}
                    <span class="middle">x {{ i.quantity }}</span>
                    <span class="last">RS {{ i.product.price }}</span>
                  </a>
                </li>
                {% endfor %}
              </ul>
              <ul class="list list_2">
                <li>
                  <a href="#">Subtotal
                    <span>RS {{ order.get_cart_total }}</span>
                  </a>
				</li>
				<!--
                <li>
                  <a href="#">Shipping
                    <span>Flat rate: $50.00</span>
                  </a>
                </li>
                <li>
                  <a href="#">Total
                    <span>$2210.00</span>
                  </a>
				</li>
				-->
			  </ul>
			  <!--
              <div class="payment_item">
                <div class="radion_btn">
                  <input type="radio" id="f-option5" name="selector" />
                  <label for="f-option5">Check payments</label>
                  <div class="check"></div>
                </div>
                <p>
                  Please send a check to Store Name, Store Street, Store Town,
                  Store State / County, Store Postcode.
                </p>
              </div>
              <div class="payment_item active">
                <div class="radion_btn">
                  <input type="radio" id="f-option6" name="selector" />
                  <label for="f-option6">Paypal </label>
                  <img src="img/product/single-product/card.jpg" alt="" />
                  <div class="check"></div>
                </div>
                <p>
                  Please send a check to Store Name, Store Street, Store Town,
                  Store State / County, Store Postcode.
                </p>
              </div>
              <div class="creat_account">
                <input type="checkbox" id="f-option4" name="selector" />
                <label for="f-option4">I’ve read and accept the </label>
                <a href="#">terms & conditions*</a>
			  </div>
        -->
              <div style="display: none;" id="payment-info">
              <button class="btn_3 hidden" id="make-payment">Proceed to Pay</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--================End Checkout Area =================-->

  <script type="text/javascript">

        var shipping = '{{ order.shipping }}'
        var total='{{ order.get_cart_total }}'
        /*
        if(shipping == 'False'){
          document.getElementById('shipping-info').innerHTML='';
        }

        if (user != 'AnonymousUser'){
          document.getElementById('user-info').innerHTML='';
        }
        */

        var form = document.getElementById('form')
        form.addEventListener('submit',function(e){
          e.preventDefault()
          console.log('Form Submitted')
          document.getElementById('form-button').style.display='none';
          document.getElementById('payment-info').style.display='block';
        })

        document.getElementById('make-payment').addEventListener('click',function(e){
          submitFormData();
        })

        function submitFormData(){
          console.log('payment Button clicked')
          
          var userFormData ={
            'name':null,
            'email':null,
            'total':total,
          }
          
          var shippingInfo ={
            'first_name':null,
            'last_name':null,
            'company_name':null,
            'number':null,
            'email':null,
            'state':null,
            'add1':null,
            'add2':null,
            'city':null,
            'district':null,
            'zip':null,
          }

          if(shipping != 'False'){
            shippingInfo.first_name = form.first_name.value
            shippingInfo.last_name = form.last_name.value
            shippingInfo.company_name = form.company_name.value
            shippingInfo.number = form.number.value
            shippingInfo.email = form.email.value
            shippingInfo.add1 = form.add1.value
            shippingInfo.add2 = form.add2.value
            shippingInfo.city = form.city.value
            shippingInfo.state = form.state.value
            shippingInfo.district = form.district.value
            shippingInfo.zip = form.zip.value
          }
        /*
          if(user == 'AnonymousUser'){
            userFormData.name = form.name.value
            userFormData.email = form.email.value
          }
          */
          var url='/process_order/'

          fetch(url,{
          method:'POST',
          headers:{
            'Content-Type':'application/json',
            'X-CSRFToken':csrftoken,
          },
          body:JSON.stringify({'form':userFormData,'shipping':shippingInfo}) 
          })
          .then((response) => {
            return response.json();
          })

          .then((data) => {
            //console.log('Success:',data);
            order_id=data['order_id']
            alert('Transaction completed');
            
            cart={}
            document.cookie='cart='+JSON.stringify(cart)+";domain=;path=/"  //clear the cart to null and pass that value to cookie after transaction completed
            url="/checkout/"+order_id+"/confirm"
            window.location.href=url
          });
        }


        $(".addresscollection").bind('change', function () {
                a=$('input[name=radiobutton]:checked', '.addresscollection').val();
                var nameArr = a.split(',');
          //console.log(nameArr);
          $("#first_name").val(nameArr[0]);
          $("#last_name").val(nameArr[1]);
          $("#company_name").val(nameArr[2]);
          $("#number").val(nameArr[3]);
          $("#email").val(nameArr[4]);
          $("#state").val(nameArr[5]);
          $("#add1").val(nameArr[6]);
          $("#add2").val(nameArr[7]);
          $("#city").val(nameArr[8]);
          $("#district").val(nameArr[9]);
          $("#zip").val(nameArr[10]);

            });


  </script>
{% endblock content %}