{% extends 'store/main.html' %}
{% load static %}
{% load widget_tweaks %}
{% block content %}
	

	<!--================login_part Area =================-->
    <section class="login_part section_padding">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6">
                    <div class="login_part_text text-center">
                        <div class="login_part_text_iner">
                            <h2>New to our Shop?</h2>
                            <p>There are advances being made in science and technology
								everyday, and a good example of this is the</p>
						{% if text %}
							<a href="{% url 'redirect_register' %}" class="btn_3">Create an Account</a>
						{% else %}
							<a href="{% url 'register' %}" class="btn_3">Create an Account</a>
						{% endif %}
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="login_part_form">
                        <div class="login_part_form_iner">
							{% if text %}
									<div class="check_title"><p>{{text}}</p></div>
		
								{% endif %}
                            <h3>Welcome Back ! <br>
								Please Sign in now</h3>
								
								
								{% for message in messages %}
                                {% if message.tags == "success" %}
						 		
                                    <div class="alert alert-success" style="color:green;">
                                        <strong>{{message}}</strong>
                                    </div>
								 
							    {% endif %}
							    {% if message.tags == "warning" %}
						        
                                    <div class="alert alert-warning" style="color:yellow;">
                                        <strong>Warning!</strong> {{message}}
                                    </div>
								 
							    {% endif %}
							    {% if message.tags == "error" %}
								<div class="alert alert-error" style="color:red;">
  									<strong>Error!</strong>{{message}}
								</div>
							    {% endif %}
						    {% endfor %}

                            <form class="row contact_form"  method="post" novalidate="novalidate">
								{% csrf_token %}
								{% for field in form %}
                                <div class="col-md-12 form-group p_star">
                                    {{ field|add_class:'form-control' }}
                                </div>
								{% endfor %}
                                <div class="col-md-12 form-group">
                                    <div class="creat_account d-flex align-items-center">
                                        <input type="checkbox" id="f-option" name="selector">
                                        <label for="f-option">Remember me</label>
                                    </div>
                                    <button type="submit" value="submit" class="btn_3">
                                        log in
                                    </button>
                                    <a class="lost_pass" href="#">forget password?</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================login_part end =================-->


{% endblock content %}