{% extends 'store/main.html' %}
{% load static %}
{% block content %}
<!--================Tracking Box Area =================-->
<section class="tracking_box_area section_padding">
    <div class="container">
      <div class="row align-items-center justify-content-center">
        <div class="col-lg-12">
          <div class="tracking_box_inner">
            <p>To track your order please enter your Order ID in the box below and press the "Track" button. This was
              given
              to you on your receipt and in the confirmation email you should have received.</p>
            <form class="row tracking_form" action="#" method="post" novalidate="novalidate" id="track">
              <div class="col-md-12 form-group">
                <input type="text" class="form-control" id="order" name="order" placeholder="Order ID" required>
              </div>
              <div class="col-md-12 form-group">
                <input type="email" class="form-control" id="email" name="email" placeholder="Billing Email Address" required>
              </div>
              <div class="col-md-12 form-group">
                <button type="submit" value="submit" class="btn_3" id="track_order">Track Order</button>
              </div>
            </form>
          </div>

          <div class="order_details_iner" id="track_details">
            
              
          </div>

        </div>

      </div>
      

    </div>
  </section>
  <!--================End Tracking Box Area =================-->



  <script>
        var form = document.getElementById('track')
        form.addEventListener('submit',function(e){
          e.preventDefault()
          console.log('Form Submitted');
          //document.getElementById('track_order').style.display='none';


          var order_id=form.order.value;
          var mail=form.email.value;

          if ((mail != '')&&(order_id != "")){
              
            
            if (ValidateEmail(mail)) {

                    $.ajax({
                    type:'POST',
                    url:'/id_email_track/',
                    data:{
                        order_id:order_id,
                        email:mail,
                        csrfmiddlewaretoken:'{{ csrf_token }}'
                    },
                    success:function(data){
                        //alert('success');
                        console.log(data);
                        var status=JSON.parse(data);
                        
                        console.log(status);
                        content='<h3>Track Details</h3><table class="table table-borderless"><thead><tr><th scope="col" colspan="2">Description</th>';
                        content+='<th scope="col">Date</th></tr></thead><tbody>'
                        for(i in status){
                            content+='<tr><th colspan="2"><span>'+status[i]['fields']['status']+'</span></th><th>'+status[i]['fields']['date_added']+'</th></tr>';
                            console.log(status[i]);
                        }
                        content+='</tbody></table>';
                        document. getElementById('track_order').style.display='none';
                        document. getElementById('track_details'). innerHTML =content
                        //window.location.href="{% url 'sales_order' %}"
                    },
                    error:function(){
                        alert('Please Check Your Email and Order ID ');
                    }
                });
              }
            
          }
          else{
            alert("Please Enter Email and Order ID");
          }
          
        });

        function ValidateEmail(mail) 
                {
                    if (/^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/.test(mail))
                    {
                        return (true)
                    }
                        alert("You have entered an invalid email address!")
                        return (false)
                }

  </script>


{% endblock %}