<!DOCTYPE html>
{% load static %}
{% load mptt_tags %}

<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Ecom</title>
        <link rel="icon" href="{% static 'img/favicon.png' %}">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <!-- animate CSS -->
        <link rel="stylesheet" href="{% static 'css/animate.css' %}">
        <!-- nice select CSS -->
         <link rel="stylesheet" href="{% static 'css/nice-select.css' %}">
        <!-- owl carousel CSS -->
        <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
        <!-- font awesome CSS -->
        <link rel="stylesheet" href="{% static 'css/all.css' %}">
        <!-- flaticon CSS -->
        <link rel="stylesheet" href="{% static 'css/flaticon.css' %}">
        <link rel="stylesheet" href="{% static 'css/themify-icons.css' %}">
        <!-- font awesome CSS -->
        <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
        <!-- swiper CSS -->
        <link rel="stylesheet" href="{% static 'css/slick.css' %}">
        <link rel="stylesheet" href="{% static 'css/price_rangs.css' %}">
        <!-- style CSS -->
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <!--My style & CSS -->
        <!--<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}"> -->
        <script type="text/javascript">

            var user='{{ request.user }}'

            function getToken(name) {
                let cookieValue = null;
                if (document.cookie && document.cookie !== '') {
                    const cookies = document.cookie.split(';');
                    for (let i = 0; i < cookies.length; i++) {
                        const cookie = cookies[i].trim();
                        // Does this cookie string begin with the name we want?
                        if (cookie.substring(0, name.length + 1) === (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }
            const csrftoken = getToken('csrftoken');

            function getCookie(name){
                // Split cookie and get all individual name=value pairs in an array
                var cookieArr=document.cookie.split(";");

                // Loop through array elements
                for(var i=0;i<cookieArr.length;i++){
                var cookiePair=cookieArr[i].split("=");

                //Removing whitespace at the beginning of the cookie name and compare it with the given string
                if(name == cookiePair[0].trim()){
                    //Decode the cookie value and return
                    return decodeURIComponent(cookiePair[1]);
                }
                }
                //return null if not found
                return null;
            }
            var cart = JSON.parse(getCookie('cart'))
            console.log(cart)

            if(cart == undefined){
                cart={}
                console.log("Cart was created");
                document.cookie='cart='+JSON.stringify(cart)+";domain=;path=/"
            }

            console.log(cart)

        </script>
    </head>

    <body>
        <!--::header part start::-->

        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
        <header class="main_menu home_menu">
            <div class="container-fluid">
                <div class="row align-items-center justify-content-center">
                    <div class="col-lg-11">
                        <nav class="navbar navbar-expand-lg navbar-light">
                            <a class="navbar-brand" href="{% url 'store' %}"> <img src="{% static 'img/logo.png' %}" alt="logo"> </a>
                            <button class="navbar-toggler" type="button" data-toggle="collapse"
                                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                                aria-expanded="false" aria-label="Toggle navigation">
                                <span class="menu_icon"><i class="fas fa-bars"></i></span>
                            </button>
    
                            <div class="collapse navbar-collapse main-menu-item" id="navbarSupportedContent">
                                <ul class="navbar-nav">
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'store' %}">Home</a>
                                    </li>
                                    <!--
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="blog.html" id="navbarDropdown_1"
                                            role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Catogories
                                        </a>
                                        {% recursetree catogory %}
                                        {% if  node.is_leaf_node %}
                                        <li><a href="/Catogory/{{ node.id }}/{{ node.slug }}">{{ node.name }}</a>
                                        {% else %}
                                        <li>{{ node.name }}
                                        {% endif %}
                                                {% if not node.is_leaf_node %}
                                                    <ul class="children">
                                                        {{ children }}
                                                    </ul>
                                                {% endif %}
                                                </li>
                                        {% endrecursetree %}
                                    </li>
                                    -->
                                    {% recursetree catogory %}
                                    {% if not node.is_leaf_node %}
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="blog.html" id="navbarDropdown_1"
                                            role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            {{ node.name }}
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="navbarDropdown_1">
                                        {{children}}
                                        
                                    {% endif %}
                                        
                                        {% if  node.is_leaf_node %}
                                        
                                        
                                            <a class="dropdown-item" href="/Catogory/{{ node.id }}/{{ node.slug }}">{{node.name}}</a>
                                            
                                        
                                        
                                        
                                    {% endif %}
                                
                                
                                    {% endrecursetree %}</li>
                                
                                    
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="blog.html" id="navbarDropdown_3"
                                            role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            More Catogory
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="navbarDropdown_2">
                                            {% recursetree catogory %}
                                            {% if  node.is_leaf_node %}
                                           
                                            <a class="dropdown-item" href="/Catogory/{{ node.id }}/{{ node.slug }}">{{ node.slug }}</a>
                                            
                                            {% endif %}
                                            {{children}}
                                            {% endrecursetree %}
                                        </div>
                                    </li>
                                    {% if user.is_authenticated %}
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="blog.html" id="navbarDropdown_3"
                                            role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Pages
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="navbarDropdown_2">
                                            <a class="dropdown-item" href="{% url 'addaddress' %}"> 
                                                My Address
                                                
                                            </a>
                                            <a class="dropdown-item" href="{% url 'myorders' %}">My Orders</a>
                                            <a class="dropdown-item" href="{% url 'logout_track' %}">Track Order</a>
                                        </div>
                                    </li>
                                    {% else %}
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'logout_track' %}">Track Order</a>
                                    </li>
                                    {% endif %}
                                    
                                   <!-- 
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="blog.html" id="navbarDropdown_2"
                                            role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            blog
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="navbarDropdown_2">
                                            <a class="dropdown-item" href="blog.html"> blog</a>
                                            <a class="dropdown-item" href="single-blog.html">Single blog</a>
                                        </div>
                                    </li>
                                    -->
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'contact_us' %}">Contact Us</a>
                                    </li>
                                    {% if user.is_authenticated %}
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                                    </li>
                                    {% else %}
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'login' %}">Login</a>
                                    </li>
                                    {% endif %}
                                </ul>
                            </div>
                            <div class="hearer_icon d-flex">
                                <div class="dropdown cart">
                                    <a  href="{% url 'cart' %}" id="navbarDropdown3"  >
                                        <i class="ti-bag" id="cart-total">{{ cartItems }}</i>
                                    </a>
                                    <!-- <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <div class="single_product">
        
                                        </div>
                                    </div> -->
                                </div>
                                <a id="search_1" href="javascript:void(0)"><i class="ti-search"></i></a>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
            <div class="search_input" id="search_input_box">
                <div class="container ">
                    <form class="d-flex justify-content-between search-inner">
                        <input type="text" class="form-control" id="search_input" placeholder="Search Here">
                        <button type="submit" class="btn"></button>
                        <span class="ti-close" id="close_search" title="Close Search"></span>
                    </form>
                </div>
            </div>
        </header>
        <!-- Header part end-->

        {% block content %}


        {% endblock content %}

      


        
    <!-- free shipping here -->
    <section class="shipping_details section_padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-sm-6">
                    <div class="single_shopping_details">
                        <img src="{% static 'img/icon/icon_1.png' %}" alt="">
                        <h4>Free shipping</h4>
                        <p>Free Shippong available on selected products.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="single_shopping_details">
                        <img src="{% static 'img/icon/icon_2.png' %}" alt="">
                        <h4>COD</h4>
                        <p>Cash on delivery available on selected products.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="single_shopping_details">
                        <img src="{% static 'img/icon/icon_3.png' %}" alt="">
                        <h4>VISA Rupay Mastercard</h4>
                        <p>All Debit/Credit card are acceptable.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="single_shopping_details">
                        <img src="{% static 'img/icon/icon_4.png' %}" alt="">
                        <h4>24 x 7 </h4>
                        <p>24 x 7 customer support.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- free shipping end -->
    

    <!--::footer_part start::-->
    <footer class="footer_part">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-sm-6 col-lg-2">
                    <div class="single_footer_part">
                        <h4>Category</h4>
                        <ul class="list-unstyled">
                            {% recursetree catogory %}
                                {% if not  node.is_leaf_node %}
                                    <li><a href="/Catogory/{{ node.slug }}/{{ node.id }}">{{node.name}}</a></li>
                                {% endif %}
                                {{children}}
                            {% endrecursetree %}
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-2">
                    <div class="single_footer_part">
                        <h4>Company</h4>
                        <ul class="list-unstyled">
                            <li><a href="{% url 'about' %}">About</a></li>
                            <li><a href="">News</a></li>
                            <li><a href="">FAQ</a></li>
                            <li><a href="{% url 'contact_us' %}">Contact</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="single_footer_part">
                        <h4>Address</h4>
                        <ul class="list-unstyled">
                            <li><a href="#">200, Green block, NewYork</a></li>
                            <li><a href="#">+10 456 267 1678</a></li>
                            <li><span>contact89@winter.com</span></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="single_footer_part">
                        <h4>Newsletter</h4>
                        <div id="mc_embed_signup">
                            <form target="_blank"
                                action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01"
                                method="get" class="subscribe_form relative mail_part">
                                <input type="email" name="email" id="newsletter-form-email" placeholder="Email Address"
                                    class="placeholder hide-on-focus" onfocus="this.placeholder = ''"
                                    onblur="this.placeholder = ' Email Address '">
                                <button type="submit" name="submit" id="newsletter-submit"
                                    class="email_icon newsletter-submit button-contactForm">subscribe</button>
                                <div class="mt-10 info"></div>
                            </form>
                        </div>
                        <div class="social_icon">
                            <a href="#"><i class="ti-facebook"></i></a>
                            <a href="#"><i class="ti-twitter-alt"></i></a>
                            <a href="#"><i class="ti-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-12">
                    <div class="copyright_text">
                        <P><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="ti-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></P>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!--::footer_part end::-->

    <!-- jquery plugins here-->
    <script src="{% static 'js/jquery-1.12.1.min.js' %}"></script>
    <!-- popper js -->
    <script src="{% static 'js/popper.min.js' %}"></script>
    <!-- bootstrap js -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <!-- easing js -->
    <script src="{% static 'js/jquery.magnific-popup.js' %}"></script>
    <!-- swiper js -->
    <script src="{% static 'js/swiper.min.js' %}"></script>
    <!-- swiper js -->
    <script src="{% static 'js/mixitup.min.js' %}"></script>
    <!-- swiper js -->
    <script src="{% static 'js/mixitup.min.js' %}"></script>
    <script src="{% static 'js/price_rangs.js' %}"></script>
    <!-- particles js -->
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/jquery.nice-select.min.js' %}"></script>
    <!-- slick js -->
    <script src="{% static 'js/slick.min.js' %}"></script>
    <script src="{% static 'js/jquery.counterup.min.js' %}"></script>
    <script src="{% static 'js/waypoints.min.js' %}"></script>
    <script src="{% static 'js/contact.js' %}"></script>
    <script src="{% static 'js/jquery.ajaxchimp.min.js' %}"></script>
    <script src="{% static 'js/jquery.form.js' %}"></script>
    <script src="{% static 'js/jquery.validate.min.js' %}"></script>
    <script src="{% static 'js/mail-script.js' %}"></script>
    <!-- custom js -->
    <script src="{% static 'js/custom.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/cart.js' %}"></script>
</body>

</html>