{% extends 'store/main.html' %}
{% load static %}
{% block content %}

<div class="row">
    <div class="col-12">
            <h2 class="contact-title">My Orders</h1>

            {% for i in orders %}
            <div class="col-lg-8">
                <form action="/myorders/{{i.id}}" method="post" >{% csrf_token %}
                    <label>Order Id : {{i.id}}</label><br>
                    <button class="btn_3" type="submit"> View Details</button>
                </form>
            </div>
            <hr>
            {% endfor %}
    </div>
</div>



<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

{% endblock %}