{% extends 'store/main.html' %}
{% load static %}
{% load widget_tweaks %}
{% block content %}

 <!--================registration_part Area =================-->
 <section class="login_part section_padding">
	<div class="container">
		<div class="row align-items-center">
			
			<div class="col-lg-6 col-md-6">
				<div class="login_part_form">
					<div class="login_part_form_iner">
						<h3>Welcome to Winter ! <br>
							Please SignUp</h3>
						<form class="row contact_form"  method="post" novalidate="novalidate">
							{% csrf_token %}
							{% for field in form%}
							<div class="col-md-12 form-group p_star">
								{{field.label_tag}}
								{{ field|add_class:'form-control' }}
								{{field.help_text}}
								{%for error in field.errors %}
									<p style="color:red;">{{error}}</p>
								{%endfor%}
							</div>
							{% endfor %}
							
							<div class="col-md-12 form-group">
								<div class="creat_account d-flex align-items-center">
									<input type="checkbox" id="f-option" name="selector">
									<label for="f-option">Remember me</label>
								</div>
								<button type="submit" value="submit" class="btn_3">
									SignUp
								</button>
								{% if text %}
									<a class="lost_pass" href="{% url 'redirect_login' %}">Already User?</a>
								{% else %}
									<a class="lost_pass" href="{% url 'login' %}">Already User?</a>
								{% endif %}
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!--================registration_part end =================-->
 

{% endblock %}