{% extends 'store/main.html' %}
{% load static %}
{% block content %}
<!--================ confirmation part start =================-->
<section class="confirmation_part section_padding">
    <div class="container">
      <div class="row">
        
        <div class="col-lg-6 col-lx-4">
          <div class="single_confirmation_details">
            <h4>order info</h4>
            <ul>
                <li>
                  <p>order id</p><span>: {{shipping.order.id}}</span>
                </li>
                <li>
                  <p>date</p><span>: {{shipping.date_added}}</span>
                </li>
                <li>
                  <p>total</p><span>: RS {{shipping.order.get_cart_total}} </span>
                </li>
                <li>
                  <p>payment method</p><span>: Check payments</span>
                </li>
              </ul>
          </div>
        </div>
        <div class="col-lg-6 col-lx-4">
          <div class="single_confirmation_details">
            <h4>Billing Address</h4>
            <ul>
                <li>
                    <p>first name</p><span>: {{billing.first_name}}</span>
                  </li>
                  <li>
                    <p>last name</p><span>: {{billing.last_name}}</span>
                  </li>
                  <li>
                    <p>company name</p><span>: {{billing.company_name}}</span>
                  </li>
                  <li>
                    <p>Mobile</p><span>: {{billing.phone}}</span>
                  </li>
                  <li>
                    <p>email</p><span>: {{billing.email}}</span>
                  </li>
                  <li>
                    <p>address 1</p><span>: {{billing.address_1}}</span>
                  </li>
                  <li>
                    <p>address 2</p><span>: {{billing.address_2}}</span>
                  </li>
                  <li>
                    <p>city</p><span>: {{billing.city}}</span>
                  </li>
                  <li>
                    <p>district</p><span>: {{billing.district}}</span>
                  </li>
                  <li>
                    <p>state</p><span>: {{billing.state}}</span>
                  </li>
                  <li>
                    <p>postcode</p><span>: {{billing.zipcode}}</span>
                  </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-6 col-lx-4">
          <div class="single_confirmation_details">
            <h4>shipping Address</h4>
            <ul>
                <li>
                  <p>first name</p><span>: {{shipping.first_name}}</span>
                </li>
                <li>
                  <p>last name</p><span>: {{shipping.last_name}}</span>
                </li>
                <li>
                  <p>company name</p><span>: {{shipping.company_name}}</span>
                </li>
                <li>
                  <p>Mobile</p><span>: {{shipping.phone}}</span>
                </li>
                <li>
                  <p>email</p><span>: {{shipping.email}}</span>
                </li>
                <li>
                  <p>address 1</p><span>: {{shipping.address_1}}</span>
                </li>
                <li>
                  <p>address 2</p><span>: {{shipping.address_2}}</span>
                </li>
                <li>
                  <p>city</p><span>: {{shipping.city}}</span>
                </li>
                <li>
                  <p>district</p><span>: {{shipping.district}}</span>
                </li>
                <li>
                  <p>state</p><span>: {{shipping.state}}</span>
                </li>
                <li>
                  <p>postcode</p><span>: {{shipping.zipcode}}</span>
                </li>
              </ul>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="order_details_iner">
            <h3>Order Details</h3>
            <table class="table table-borderless">
                <thead>
                  <tr>
                    <th scope="col" colspan="2">Product</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Total</th>
                  </tr>
                </thead>
                <tbody>
                  {% for i in items %}
                  <tr>
                    <th colspan="2"><span>{{ i.product.name }}</span></th>
                    <th>x{{ i.quantity }}</th>
                    <th> <span>RS {{i.get_total}}</span></th>
                  </tr>
                  
                  {% endfor %}
                  <tr>
                    <th colspan="3">Subtotal</th>
                    <th> <span>RS {{shipping.order.get_cart_total}}</span></th>
                  </tr>
                  <tr>
                    <th colspan="3">shipping</th>
                    <th><span>Free shipping</span></th>
                  </tr>
                  
                </tbody>
                <tfoot>
                  <tr>
                    <th scope="col" colspan="3">Quantity - {{shipping.order.get_cart_items}}</th>
                    <th scope="col">Total  RS {{shipping.order.get_cart_total}}</th>
                  </tr>
                </tfoot>
              </table>
              
          </div>
        </div>
      </div>
      <button class="btn_3" onclick="track()" id="abc">Track item</button>
      <div class="row" id="status" style="display: none;">
        <div class="col-lg-12">
          <div class="order_details_iner">
            <h3>Track Details</h3>
            <table class="table table-borderless">
                <thead>
                  <tr>
                    <th scope="col" colspan="2">Description</th>
                    <th scope="col">Date</th>
                    
                  </tr>
                </thead>
                <tbody>
                  {% for i in status %}
                  {% if i.status == 'Order Placed' %}
                  <tr>
                    <th colspan="2"><span>{{i.status}}</span></th>
                    <th>{{i.date_added}}</th>
                    
                  </tr>

                  {% else %}
                  <tr>
                    <th colspan="2"><span>{{i.status}}</span></th>
                    <th>{{i.date_assign}}</th>
                    
                  </tr>
                  {% endif %}
                  
                  {% endfor %}
                  
                  
                </tbody>
            
              </table>
              
          </div>
        </div>
      </div>


    </div>
  </section>
  <!--================ confirmation part end =================-->



<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script>
    function track(){
    document.getElementById("status").style.display="block";
    document.getElementById("abc").style.display="none";
    }
</script>
{% endblock %}