{% extends 'superuser_base.html' %}

{% block content %}
  <h2>Add product</h2>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-success">Add</button>
  </form>
{% endblock %}