{% extends 'sales_base.html' %}
{% load static %}
{% block content %}
    <hr>
    <h2>Order ID : {{ order.id }}</h2>

        {% for item in items %}
        <div class="order_container">
            <label>Product Name:</label>{{ item.product }}<br>
            <label style="display:none;">Product Id:</label><span class="item_product">{{ item.product.id }}</span><br>
            <label>price:</label>{{ item.product.price }}<br>
            <label>Quantity:</label><span class="item_quantity">{{ item.quantity }}</span><br>
            <label>Total:</label><span class="item_total">{{ item.get_total }}</span><br>
            <!--<label>Packed Quantity:</label><input type="number" class="quantity" price="{{ item.product.price }}"  value="{{item.quantity}}"> -->
        </div>
            <hr>
        {% endfor %}
            <label>Packed Date : {{date}}</label>
            <h2 id="final_total">Total: RS {{order.get_cart_total}}</h2>






{% endblock content %}