{% extends 'superuser_base.html' %}

{% block content %}
  <h2>Catogories</h2>
    {% for i in catogory %}

      <a href="/superuser/select_catogory/{{i.name}}"> {{i.name}}</a> <br>
    {% endfor %}
{% endblock %}