{% extends 'log_reg_base.html' %}
{% load static %}
{% block content %}

<div class="row">
    <div class="col-lg-6">
        <div class="box-element" id="form-wrapper">
            <form id="form" method="POST">
                <div id="user-info">
                    {% csrf_token %}
                    {{form.as_p}}
                </div>
                <hr>
                <input id="" class="btn btn-success btn-block" type="submit" value="Login">
                {% for message in messages %}
							{% if message.tags == "success" %}
						 		<center>
								<div class="alert alert-success" style="color:green;">
  									<strong>{{message}}</strong>
								</div>
								 </center>
							{% endif %}
							{% if message.tags == "warning" %}
						     <center>
								<div class="alert alert-warning" style="color:red;">
  									<strong>Warning!</strong> {{message}}
								</div>
								 </center>
							{% endif %}
							{% if message.tags == "error" %}
								<div class="alert alert-error">
  									<strong>Error!</strong>{{message}}
								</div>
							{% endif %}
						{% endfor %}
                <hr>

            </form>
        </div>
    </div>
</div>

{% endblock content %}