{% extends 'sales_base.html' %}
{% load static %}
{% block content %}
<label for="date_picker">Select a date:</label>
<input type="date" id="date_picker" name="date_picker" >  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<button class="btn btn-warning" onclick="order_show()">Show  orders</button><br>
<p ></p>


<script>
    var today = new Date();
    var dd = today.getDate();
    var mm = today.getMonth()+1; //January is 0!
    var yyyy = today.getFullYear();
     if(dd<10){
            dd='0'+dd
        }
        if(mm<10){
            mm='0'+mm
        }

    today = yyyy+'-'+mm+'-'+dd;
    document.getElementById("date_picker").setAttribute("max", today);



    function order_show(){
        date=document.getElementById("date_picker").value;

        if (date == ''){
        alert("please select date");
        }
        else{
        $.ajax({
                type:'POST',
                url:'/sales/orders_by_date/select_date',
                data:{
                    date:date,
                    csrfmiddlewaretoken:'{{ csrf_token }}'
                },
                success:function(data){
                    alert('success');
                    content="<h5>Orders</h5><hr>"
                    for (i = 0; i < data.length; i++) {
                        content+="<form action=\"/sales/orders_by_date/select_date/"+data[i]+"\" method=\"post\">"+'{% csrf_token %}'+
                                        " <label>Order Id :"+data[i]+"</label><br>"+
                                         "<button type=\"submit\" class=\"btn btn-success\">View full details</button>"+
                                   " </form>"+
                                    "<hr>"
                    }

                    $("p").html(content)


                },
                error:function(){
                    alert('error');
                }
            });
        }
    }
</script>
{% endblock content %}