{% extends 'superuser_base.html' %}

{% block content %}
  <h2>{{product.name}}</h2><hr>
<img src="{{ product.image1URL }}"><br>


<label>Price :- {{product.price}}</label><br>
<label>Stock :- {{product.stock}}</label><br>
<label>Brand :- {{product.brand}}</label><br>
<label>Catogory :-{{product.catogory}}</label><br>


{% endblock %}