{% extends 'superuser_base.html' %}

{% block content %}
  <h2>Products in {{catogory}}</h2>
{% for i in products %}
    <form method="post" action="/superuser/{{catogory}}/{{i.id}}">
    {% csrf_token %}
   <label>{{i.name}}</label>
    <button type="submit" class="btn btn-success">View Details</button>
  </form>
<hr>
{% endfor %}
{% endblock %}