{% extends 'sales_base.html' %}
{% load static %}
{% block content %}
<hr>
<h2>Transaction id's </h2>
    {% for i in orders %}
        <a href="orders/{{i.id}}">{{i.transaction_id}}</a>
        <hr>
    {% endfor %}

{% endblock content %}