{% extends 'sales_base.html' %}
{% load static %}
{% block content %}
    <hr>
    <h2>Order ID : {{ order.id }}</h2>

        {% for item in items %}
        <div class="order_container">
            <label>Product Name:</label>{{ item.product }}<br>
            <label style="display:none;">Product Id:</label><span class="item_product">{{ item.product.id }}</span><br>
            <label>price:</label>{{ item.product.price }}<br>
            <label>Quantity:</label><span class="item_quantity">{{ item.quantity }}</span><br>
            <label>Total:</label><span class="item_total">{{ item.get_total }}</span><br>
            <label>Packed Quantity:</label><input type="number" class="quantity" price="{{ item.product.price }}"  value="{{item.quantity}}">
        </div>
            <hr>
        {% endfor %}
            <h2 id="final_total">Total: RS {{order.get_cart_total}}</h2>

            <form id="allocate_picker" method="POST">
                {% csrf_token %}
                <label>Assign Picker</label>
                <select  required="" id="courier_select">
                    <option value="">Choose picker...</option>
                    {% for courier in couriers %}
                    <option value="{{courier.id}}">{{ courier.courier_name }} </option>

                    {% endfor %}
                </select>

                <button id="bt-submit" type="submit">Allocate</button>
            </form>


    <script type="text/javascript">
        //var id={{order.id}};
            //alert(id);

            function update_final_total() {
                let order_list = $(".order_container");
                let total = 0;
                for (let i=0; i<order_list.length; i++) {
                    price = $(order_list[i]).find('.item_total').html();
                    total += parseInt(price);
                    total_v="Total: RS "+total
                }
                $("#final_total").html(total_v);
            }


        $(".quantity").bind('keyup mouseup', function () {
            count = $(this).val();
            price = $(this).attr("price");
            total = count*price;
            $(this).closest(".order_container").find('.item_total').html(total);
            $(this).closest(".order_container").find('.item_quantity').html(count);
            update_final_total();
        });



        $(document).on('submit','#allocate_picker',function(e){
            e.preventDefault();
            //alert("Reach inside");
            let order_list = $(".order_container");
            let product_list = [];
            let quantity_list = [];
            for (let i=0; i<order_list.length; i++) {
                product = $(order_list[i]).find('.item_product').html();
                quantity= $(order_list[i]).find('.item_quantity').html();
                product_list.push(product);
                quantity_list.push(quantity);
            }

            se=$('#courier_select').val();
            console.log(product_list);
            console.log(quantity_list);
            $.ajax({
                type:'POST',
                url:'/courier_allocate/{{order.id}}',
                data:{
                    courier_id:$('#courier_select').val(),
                    product_list:product_list,
                    quantity_list:quantity_list,
                    csrfmiddlewaretoken:'{{ csrf_token }}'
                },
                success:function(){
                    alert('success');
                    window.location.href="{% url 'sales_order' %}"
                },
                error:function(){
                    alert('error');
                }
            });
        });
    </script>

{% endblock content %}