{% extends 'sales_base.html' %}
{% load static %}
{% block content %}

    {% for i in capacity %}
            {% if i.day == 'SUN' %}
                <label>Sunday</label>
                <input type="number" class="day" id="sun" value="{{i.no_deliver}}" readonly><br>
            {% elif i.day == 'MON' %}
                <label>Monday</label>
                <input type="number" class="day" id="mon" value="{{i.no_deliver}}" readonly><br>
            {% elif i.day == 'TUE' %}
                <label>Tuesday</label>
                <input type="number" class="day" id="tue"  value="{{i.no_deliver}}" readonly><br>
            {% elif i.day == 'WED' %}
                <label>Wednesday</label>
                <input type="number" class="day" id="wed" value="{{i.no_deliver}}" readonly><br>
            {% elif i.day == 'THU' %}
                <label>Thursday</label>
                <input type="number" class="day" id="thu" value="{{i.no_deliver}}" readonly><br>
            {% elif i.day == 'FRI' %}
                <label>Friday</label>
                <input type="number" class="day" id="fri" value="{{i.no_deliver}}" readonly><br>
            {% elif i.day == 'SAT' %}
                <label>Saturday</label>
                <input type="number" class="day" id="sat" value="{{i.no_deliver}}" readonly><br>
            {% endif %}

    {% endfor %}
    <br>
    <button class="btn btn-warning" onclick="changeproperty()" id="change">Edit</button>
    <button class="btn btn-success" onclick="submitchanges()" id="sub" style="display:none;">Save Changes</button>


    <script>
       function changeproperty(){
           var a=["sun","mon","tue","wed","thu","fri","sat"]
           for(var i=0;i<7;i++){
            document.getElementById(a[i]).readOnly = false;
            }
            document.getElementById("change").style.display="none";
            document.getElementById("sub").style.display="block";
       }



       function submitchanges(){
        var day=["sun","mon","tue","wed","thu","fri","sat"]
        var values=[]
        for(var i=0;i<7;i++){
            a=document.getElementById(day[i]).value;
            values.push(a)
            }
            //alert(values);
            $.ajax({
                type:'POST',
                url:'/sales/set_deliver_capacity',
                data:{
                    values:values,
                    csrfmiddlewaretoken:'{{ csrf_token }}'
                },
                success:function(data){
                    alert('success'); 
                    window.location.href="{% url 'set_capacity' %}"                   
                },
                error:function(){
                    alert('error');
                }
            });
       }
    </script>

{% endblock content %}